<h1>Dashboard</h1>

<form action="/income" method="POST">
    <label for="source">Source:</label>
    <input type="text" name="source" id="source" required>
    <label for="amount">Amount:</label>
    <input type="number" name="amount" id="amount" required>
    <button type="submit">Add Income</button>
</form>

<table>
    <thead>
    <tr>
        <th>Amount</th>
        <th>Description</th>
    </tr>
    </thead>
    <tbody>
    {{#each income}}
        <tr>
            <td>{{this.amount}}</td>
            <td>{{this.source}}</td>
        </tr>
    {{/each}}
    </tbody>
</table>

<h2>Expenses</h2>

<form action="/expenses" method="POST">
    <label for="source">Source:</label>
    <input type="text" name="source" id="source" required>
    <label for="amount">Amount:</label>
    <input type="number" name="amount" id="amount" required>
    <button type="submit">Add Income</button>
</form>

<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Amount</th>
    </tr>
    </thead>
    <tbody>
    {{#each expenses}}
        <tr>
            <td>{{source}}</td>
            <td>{{amount}}</td>
        </tr>
    {{/each}}
    </tbody>
</table>

